# Q1

In [1]:
print("hello_World")

hello_World

# Q2)

In [2]:
n=int(input('enter the num'))
print(n)

if (n%2!=0):
    print("weird")
if (n%2==0):
    if(n>=2 and n<=5):
        print("not weird")
    if (n>=6 and n<=20):
        print("weird")
    if (n>20):
        print("not weird")

enter the num5
5
weird

# Q3)

In [3]:
a=int(input("enter the first num"))
b=int(input("enter the second num"))
print(a+b)
print(a-b)
print(a*b)

enter the first num3
enter the second num5
8
-2
15

# Q4)

In [4]:
a=int(input("enter the first num"))
b=int(input("enter the second num"))
print(a//b)#floor division
print(a/b)#floating point division

enter the first num6
enter the second num4
1
1.5

# Q5)

In [5]:
n=int(input("enter the value of n"))

for i in range(n):
    print(i*i)
    print('\n')

enter the value of n5
0


1


4


9


16

# Q6)

In [6]:
def is_leap(year):
    if(year%4==0):
        print("it is a leap year")
        return True
    else:
        print("not a leap year")
        return False
        
is_leap(2016)

it is a leap year

True

# Q7)

In [7]:
n=int(input("enter a num"))
a=range(n)
b=list(a)
print(b)
''.join(str(i) for i in b)

enter a num4
[0, 1, 2, 3]

'0123'